{{{html_header}}}
<!-- {{generated_by}} -->
<table{{#html_table_properties}} {{html_table_properties}}{{/html_table_properties}}>
    <tr align='center' height='{{html_allresults_cell_height}}'>
        <td align='left'>{{label_season}}</td>
        {{#seasons}}
        <td{{#colspan}} colspan='{{colspan}}'{{/colspan}}>{{season_name}}</td>
        {{/seasons}}
        <td align='left'>{{label_season}}</td>
    </tr>
    <tr align='center' height='{{html_allresults_cell_height}}'>
        <td align='left'>{{label_round}}</td>
        {{#rounds}}
        <td>{{round_number}}</td>
        {{/rounds}}
        <td align='left'>{{label_round}}</td>
    </tr>
{{#rows}}
    <tr align='center' height='{{html_allresults_cell_height}}'>
        <td align='left'>{{player_name}}</td>
        {{#results}}
        <td{{#bgcolor}} bgcolor='{{bgcolor}}'{{/bgcolor}}>{{result}}</td>
        {{/results}}
        <td align='left'>{{player_name}}</td>
    </tr>
{{/rows}}
</table>
<p>{{label_home_short}} = {{label_home}}<br>{{label_guest_short}} = {{label_guest}}</p>
<p><table border='0'>
    <tr><td width='50' bgcolor='{{html_bgcolor_win}}'></td><td> = {{label_win}}</td></tr>
    <tr><td bgcolor='{{html_bgcolor_loss}}'></td><td> = {{label_loss}}</td></tr>
    <tr><td bgcolor='{{html_bgcolor_draw}}'></td><td> = {{label_draw}}</td></tr>
</table></p>
{{{html_footer}}}