{{{html_header}}}
<!-- {{generated_by}} -->
<table{{#html_table_properties}} {{html_table_properties}}{{/html_table_properties}}>
    <tr align='center'>
        <td align='left'>{{label_season}}</td>
        {{#seasons}}
        <td{{#colspan}} colspan='{{colspan}}'{{/colspan}}>{{season_name}}</td>
        {{/seasons}}
    </tr>
    <tr align='center'>
        <td align='left'>{{label_round}}</td>
        {{#rounds}}
        <td>{{round_number}}</td>
        {{/rounds}}
    </tr>
{{#rows}}
    <tr align='center'>
        <td align='left'>{{player_name}}</td>
        {{#results}}
        <td{{#bgcolor}} bgcolor='{{bgcolor}}'{{/bgcolor}}>{{result}}</td>
        {{/results}}
    </tr>
{{/rows}}
</table>
{{{html_footer}}}