<style type="text/css">.sl-ct{text-align:center;}</style>
{{{html_header}}}
<!-- {{generated_by}} -->
<table{{#html_table_properties}} {{html_table_properties}}{{/html_table_properties}}>
    <tr bgcolor='{{html_bgcolor_crosstab_headline}}'>
        <td><sub>{{label_home}}</sub>&nbsp;\&nbsp;<sup>{{label_guest}}</sup></td>
        {{#players}}
        <td class='sl-ct'>{{player_name}}</td>
        {{/players}}
    </tr>
    {{#lines}}
    <tr>
        <td bgcolor='{{html_bgcolor_crosstab_headline}}'>{{player_name}}</td>
        {{#results}}
        <td class='sl-ct'{{#bgcolor}} bgcolor='{{bgcolor}}'{{/bgcolor}}>{{points1}}{{#result}}{{label_point_separator}}{{points2}} ({{result}}{{round_number}}){{/result}}</td>
        {{/results}}
    </tr>
    {{/lines}}
</table>
<p>{{#resultlist}}{{short}} = {{desc}}<br>{{/resultlist}}</p>
<p>1 = {{label_round}} 1<br>2 = {{label_round}} 2<br>{{label_etc}}</p>
<p><table border='0'>
    <tr><td width='50' bgcolor='{{html_bgcolor_win}}'></td><td> = {{label_home}}{{label_crosstab_wins}}</td></tr>
    <tr><td bgcolor='{{html_bgcolor_loss}}'></td><td> = {{label_guest}}{{label_crosstab_wins}}</td></tr>
    <tr><td bgcolor='{{html_bgcolor_draw}}'></td><td> = {{label_draw}}</td></tr>
</table></p>
{{{html_footer}}}