{{{html_header}}}
<!-- {{generated_by}} -->
<table {{html_table_properties}}>
    <tr {{html_table_headline_properties}}>
        <td>{{label_player}}</td>
        <td>{{label_team}}</td>
    </tr>
{{#rows}}
    <tr>
        <td>{{player_name}}</td>
        <td>{{team_name}}</td>
    </tr>
{{/rows}}
</table>
{{{html_footer}}}