{{{html_header}}}
<!-- {{generated_by}} -->
{{#rounds}}
<table{{#html_table_properties}} {{html_table_properties}}{{/html_table_properties}}{{#html_schedule_table_properties}} {{html_schedule_table_properties}}{{/html_schedule_table_properties}}>
    <tr{{#html_table_headline_properties}} {{html_table_headline_properties}}{{/html_table_headline_properties}}>
        <td colspan='3' style='text-align:center;'>{{label_round}} {{round_number}}</td>
    </tr>
{{#description}}
    <tr>
        <td colspan='3' style='text-align:center;'>{{description}}</td>
    </tr>
{{/description}}
{{#games}}
    <tr>
        <td>{{player1_name}}</td>
        <td>{{vs}}&nbsp;</td>
        <td>{{player2_name}}</td>
    </tr>
{{/games}}
</table>

<p></p>

{{/rounds}}
{{{html_footer}}}