<table {{html_table_properties}}>
<tr>
    <td><b>{{label_player}}</b></td>
    <td><b>{{label_team}}</b></td>
</tr>
    
<tr>
    <td>player_name</td>
    <td>team_name</td>
</tr>

</table>